# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.win
*.layout

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Phat sinh tu may 
*.code-workspace
*.vscode
*.idea
